{% extends "base.html" %}
{% block content %}

<h3 class="text-blue-grey" center-align>Create Recipe</h3>

<!--set up for form to add recipe-->
<div class ="row card-panel grey lighten-2">
    <div class="formy">
        <!--Recipe title/name-->
        <div class="cardy_a">
            <div>
                <!--functions-->
            </div>
        </div>
        <!--save/submit button-->
        <div class="you_shall_pass">
            <button>
                Add Recipe <i class="fas fa-kitchen-set"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}