{% extends "base.html" %}
{% block content %}

<h3 class="text-blue-grey" center-align>Create Recipe</h3>

<!--set up for form to add recipe-->
<div class ="row card-panel grey lighten-2">
    <form class="formy col s12 center-align" method="POST" action="">
        <!--Recipe details-->
        <div class="cardy_a row">
            <div class="input-field col s12">
                <!--recipe name input-->
                <input id="recipe_name" name="recipe_name" maxlength="55" type="text" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
            <!--recipe description-->
            <div class="input-field col s12">
                <input id="recipe_description" name="recipe_description" minlength="15" maxlength="150" type="text" required>
                <label for="recipe_description">Recipe Description</label>
            </div>
            <!--recipe cook temp-->
            <div class="input-field col s12">
                <input id="recipe_cook_temp" name="recipe_cook_temp" type="number" required>
                <label for="recipe_cook_temp">Recipe Cook Temp (in Celcius Fan assisted)</label>
            </div>
            <!--recipe prep time-->
            <div class="input-field col s12">
                <input id="recipe_prep_time" name="recipe_prep_time" type="number" required>
                <label for="recipe_prep_time">Recipe Prep Time (in Minutes)</label>
            </div>
            <!--recipe cook time-->
            <div class="input-field col s12">
                
                <input id="recipe_cook_time" name="recipe_cook_time" type="number" required>
                <label for="recipe_cook_time">Recipe Cook Time (in Minutes)</label>
            </div>
            <!--<div class="input-field col s12">
                
                <input id="recipe_ingredients" name="recipe_ingredients" type="text" required>
                <label for="recipe_ingredients">Recipe Ingredients</label>
            </div>-->
            <!--<div class="input-field col s12">
                
                <label for="category_name">Categories</label>
                <p>Select a maximum of 2 categories for your recipe</p>
                <select id="category_name" name="category_name">
                    <option value="vegetarian">Vegetarian</option>
                    <option value="Meat">Meat</option>
                    <option value="Fish">Fish</option>
                    <option value="under_30mins">Under 30 Mins</option>
                </select>
            </div> -->
            <!--recipe stages-->
            <!--<p>Recipe Stages</p>
            <div class="input-field col s12">
                <label for="recipe_stages_1">Recipe Stage 1</label>
                <input id="recipe_stages_1" name="recipe_stages_1" type="text" required>
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_2">Recipe Stage 2</label>
                <input id="recipe_stages_2" name="recipe_stages_2" type="text" required>
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_3">Recipe Stage 3</label>
                <input id="recipe_stages_3" name="recipe_stages_3" type="text" required>
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_4">Recipe Stage 4</label>
                <input id="recipe_stages_4" name="recipe_stages_4" type="text" required>
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_5">Recipe Stage 5</label>
                <input id="recipe_stages_5" name="recipe_stages_5" type="text">
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_6">Recipe Stage 6</label>
                <input id="recipe_stages_6" name="recipe_stages_6" type="text">
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_7">Recipe Stage 7</label>
                <input id="recipe_stages_7" name="recipe_stages_7" type="text">
            </div>
            <div class="input-field col s12">
                <label for="recipe_stages_8">Recipe Stage 8</label>
                <input id="recipe_stages_8" name="recipe_stages_8" type="text">
            </div>
        </div>-->
            <!--<div class="input-field col s12">
                
                <br>
                <p>If you want to add a photo click "Choose File" button to select a photo</p>
                <input id="recipePhoto" name="recipe_photo"type="file">
                <label for="recipe_photo">Recipe Photo</label>
            </div>-->
            <!--<div class="input-field col s12">
               
                <input id="creator_id" name="creator_id" type="text" disabled>
                <label for="creator_id">Creator ID</label>
            </div>-->
        <!--save/submit button-->
        <div class="you_shall_pass col s12 center-align">
            <button type="submit" class="btn waves-effect orange lighten-1">
                Add Recipe <i class="fas fa-kitchen-set"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}