{% extends "base.html" %}
{% block content %}

<h3 class="text-blue-grey center-align">{{ recipe.recipe_name }}</h3>
<div class="col s12 m7 l3">
    <div class="card center-align">
      <div class="card-image">
        <img src="images/sample-1.jpg">
      </div>
      <div class="card-content">
        <!--recipe desciption-->
        <p class="recipe_description">{{ recipe.recipe_description}}</p>
      </div>
      <div class="card-action">
        <a class="btn green-text brown lighten-4" href="#">Edit</a>
        <a class="btn red-text brown lighten-4"href="#">Delete</a>
      </div>
    </div>
{% endblock %}