{% extends "base.html" %}
{% block content %}

<h3 class="text-blue-grey center-align">Recipes</h3>

<div class="row">
    <div class="you_shall_pass col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn waves-effect orange lighten-1">
            Add Recipe <i class="fas fa-kitchen-set"></i>
        </a>
    </div>
</div>
<div class="row">
  {% for recipe in recipes %}
    <div class="col s12 m7 l3">
      <div class="card center-align">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="text-orange card-title">{{ recipe.recipe_name }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons center-align">+</i></a>
        </div>
        <div class="card-content">
          <!--recipe desciption-->
          <p class="recipe_description">{{ recipe.recipe_description}}</p>
        </div>
        <div class="card-action">
          <a class="btn green-text brown lighten-4" href="#">Edit</a>
          <a class="btn red-text brown lighten-4"href="#">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}